header{
    text-align: center;
    font-family: Times, sans-serif;
    font-size: xx-large;

}
body{
    background-color: #42b6f4;
}

table.topazCells {
    /*from : https://divtable.com/table-styler/*/
    font-family: Arial, Helvetica, sans-serif;
    border: 4px solid #550E0E;
    background-color: #8FB0B9;
    width: 400px;
    text-align: center;
    border-collapse: collapse;
}

table.topazCells td, table.topazCells th {
    border: 1px solid #555555;
    padding: 5px 8px;
}

table.topazCells tbody td {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
}

table.topazCells tr:nth-child(even) {
    background: #6DACB7;
}

table.topazCells td:nth-child(even) {
    background: #d5cfc1;
}

table.topazCells thead {
    background: #1738A4;
    background: -moz-linear-gradient(top, #516abb 0%, #2e4cad 66%, #1738A4 100%);
    background: -webkit-linear-gradient(top, #516abb 0%, #2e4cad 66%, #1738A4 100%);
    background: linear-gradient(to bottom, #516abb 0%, #2e4cad 66%, #1738A4 100%);
    border-bottom: 6px solid #FFFFFF;
}

table.topazCells thead th {
    font-size: 12px;
    font-weight: bold;
    color: #FF1515;
    text-align: left;
    border-left: 2px solid #A48630;
}

table.topazCells thead th:first-child {
    border-left: none;
}

table.topazCells tfoot td {
    font-size: 13px;
}

table.topazCells tfoot .links table {
    text-align: right;
}

table.topazCells tfoot .links a table {
    display: inline-block;
    background: #FFFFFF;
    color: #A43152;
    padding: 2px 8px;
    border-radius: 5px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

th{background-color: lightslategrey; text-align: center}

tr:nth-child(even) {
    background-color: #dddddd;}


.TestingButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.TestingButton:hover {
    background-color: green;
}


/**{*/

    /*background: #42b6f4;*/

/*}*/


.indent{
    padding-left: 1.9em;
}

span {
    color: red;
    font-size: 87.5%;
    margin-left: .5em;
}